{% block horisontal_menu %}
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link text-white" href="">Темы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="">Книги</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="">Фильмы</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="">Люди</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-white" href="">Топ-10</a>
    </li>
  </ul>
{% endblock %}
