{% block pagination %}
  {% if is_paginated %}
    <nav class="nav">
      <a class="nav-link text-white" href="{{model}}?page=1">Начало</a>
      {% if page_obj.has_previous %}
        <a class="nav-link text-white" href="{{model}}?page={{page_obj.previous_page_number}}">{{page_obj.previous_page_number}}</a>
      {% endif %}
      <a class="nav-link text-white" href="{{model}}?page={{page_obj.number}}"><u>{{page_obj.number}}</u></a>
      {% if page_obj.has_next %}
        <a class="nav-link text-white" href="{{model}}?page={{page_obj.next_page_number}}">{{page_obj.next_page_number}}</a>
      {% endif %}
      <a class="nav-link text-white" href="{{model}}?page=last">Конец</a>
    </nav>
  {% endif %}
{% endblock %}
