{% extends 'core/common_detail.html' %}

{% block detail %}
  <div class="my-4">
    <p class="h-5">
      Автор:
      {% if object.author %}
        <a href="{{object.author.get_absolute_url}}" class="{{object.color}}">{{object.author}}</a>
      {% elif object.is_validated %}
        <a href="{% url 'core:person_create' related_name='author' pk=object.pk %}">Добавить</a>
      {% endif %}
    </p>
    <p class="h-5 m-0">Персонажи:</p>
    <dl class="row">
      {% for character in object.character_set.all %}
        <dt class="col-sm-3">
          <a href="{{character.get_absolute_url}}" class="{{character.character.color}}">{{character}}</a>
        </dt>
        <dd class="col-sm-9">
          {{character.description|default_if_none:""}}
        </dd>
      {% endfor %}
    </dl>
    {% if object.is_validated %}
      <a href="{% url 'core:person_create' related_name='character' pk=object.pk %}">
        Добавить персонажа
      </a>
    {% endif %}
  </div>
{% endblock %}
