{% extends 'layout/wrapper.html' %}

{% load crispy_forms_tags %}

{% block content %}
  <form method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <p>Актер:</p>
        {{actor_name_field|crispy}}
        <div id="div_id_born" class="form-group">
          <label for="id_born" class="col-form-label">Дата рождения</label>
          <input type="text" name="actor_born" class="dateinput form-control" id="id_born">
        </div>
        <div id="div_id_died" class="form-group">
          <label for="id_died" class="col-form-label">Дата смерти</label>
          <input type="text" name="actor_died" class="dateinput form-control" id="id_died">
        </div>
        <div id="div_id_description" class="form-group">
          <label for="id_description" class="col-form-label">Описание</label>
          <div class="">
            <textarea name="actor_description" rows="10" class="textarea form-control" id="id_description"></textarea>
          </div>
        </div>
      </div>
      <div class="col">
        <p>Персонаж:</p>
        {{character_form|crispy}}
      </div>
    </div>
    <button type="submit" class="btn btn-success">Сохранить</button>
  </form>
{% endblock %}
