{% extends 'layout/wrapper.html' %}

{% block content %}
  {% for object in object_list %}
  <div class="card my-4">
    <div class="card-header">
      <a href="{{object.get_absolute_url}}">{{object}}</a>
    </div>
    <div class="card-body">
      <p class="card-text">Описание: {{object.description|default_if_none:"-"}}</p>
      <p class="card-text">{% for key, value in object.extras.items %}   {{key}}: {{value|default_if_none:"-"}},   {% endfor %}</p>
      <p class="card-text text-muted">{{object.user.username}}, {{object.proposed}}</p>
    </div>
    <div class="card-footer">
      {% include 'core/validation_form.html' %}
    </div>
  </div>
  {% empty %}
    Данные отсутствуют
  {% endfor %}
{% endblock %}
