{% extends 'layout/wrapper.html' %}

{% load crispy_forms_tags %}

{% block content %}
  {% if not user.is_authenticated %}
  <div class="alert alert-success">
    <p class="mb-0">
      Вы не являетесь зарегистрированным пользователем данного сайта.
      Все ответы, которые будут вами даны не будут оценены.
      Чтобы получить доступ к дополнительным возможностям сайта,
      пройдите регистрацию или войдите с помощью аккаунта социальной сети.
    </p>
    <footer class="blockquote-footer">Do you know?</footer>
  </div>
  {% endif %}

  {% if not question %}
    <p>Данные отсутсвуют</p>
  {% else %}
    <p>Вопрос:</p>
    <p><strong>{{question.text}}</strong></p>
    <p>Варианты ответов:</p>
    <form action="{% url 'core:check_answer' pk=question.pk %}" method="post">
      {% csrf_token %}
      <div class="btn-group-vertical">
        {% for answer in question.answers.all %}
          <button type="submit" class="btn btn-success" name="checked_answer" value={{answer.id}}>
            {{answer}}
          </button>
        {% endfor %}
      </div>
    </form>
  {% endif %}
{% endblock %}
