{% extends 'layout/wrapper.html' %}

{% load crispy_forms_tags %}

{% block content %}
  {% if user_is_creator %}
    <div class="alert alert-danger">
      Вы являетесь создателем данной страницы,
      в связи с чем вы не можете ее оценивать!
    </div>
  {% else %}
    {% include 'questions/question_rating_block.html' with question=object %}
    <hr>
  {% endif %}

  <h3>{{object.text}}</h3>
  <p class="m-0">Вопрос относится к <a href="{{object.content_object.get_absolute_url}}">{{object.content_object}}</a></p>
  {% if object.theme and object.content_object != object.theme %}
    <p class="m-0">Связанная тема: <a href="{{object.theme.get_absolute_url}}">{{object.theme}}</a></p>
  {% endif %}
  <p class="m-0">Добавил: {{object.user.username}}, {{object.created}}</p>

  <p>Статистика ответов:</p>
  <p>Всего ответов: {{object.replies.count}}</p>
  <div class="my-2">
    {% for answer in object.answers.all %}
    <div class="my-2">
      <label class="{{answer.color}}">
        {{forloop.counter}}: {{answer.text}}
        {% if answer == user_answer %} * {% endif %}
      </label>
      <div class="progress">
        <div class="progress-bar bg-success" style="width: {{answer.frequence}}%;" aria-valuenow="{{answer.frequence}}" aria-valuemin="0" aria-valuemax="100">
          {{answer.frequence|floatformat}} %
        </div>
      </div>
    </div>
    {% endfor %}
    <label class="text-muted">* - Ваш ответ</label>
  </div>

  <p>Пояснение от автора: {{object.explanation|default_if_none:" - "}}</p>
{% endblock %}
