{% extends 'layout/wrapper.html' %}

{% block content %}
  <div class="mb-2">
    <nav class="nav bg-light d-flex flex-row align-items-center justify-content-arownd p-2">
      <label class="m-0">Всего: {{object_list.count}}</label>
      <div id="paginate_by" class="ml-auto">
        <div class="dropdown">
          <button class="btn btn-light dropdown-toggle" type="button" id="paginate_by_button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            На странице
          </button>
          <div class="dropdown-menu" aria-labelledby="paginate_by_button">
            {% for number in pagination_list %}
              <a href="?paginate_by={{number}}" class="dropdown-item">
                {% if number == paginate_by %}
                  <strong>{{number}}</strong>
                {% else %}
                  {{number}}
                {% endif %}
              </a>
            {% endfor %}
          </div>
        </div>
      </div>
    </nav>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">№</th>
        <th scope="col">Имя пользователя</th>
        <th scope="col">Сумма очков</th>
        <th scope="col">Дата последнего входа на сайт</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{object.username}}</td>
          <td>{{object.points_count}}</td>
          <td>{{object.last_login}}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {% if page_obj.has_other_pages %}
    <div class="mt-auto">
      <hr>
      <nav class="nav bg-light">
        <a class="nav-link" href="?page=1{{page_suffix}}">Начало</a>
        {% if page_obj.has_previous %}
          <a class="nav-link" href="?page={{page_obj.previous_page_number}}{{page_suffix}}">{{page_obj.previous_page_number}}</a>
        {% endif %}
        <a class="nav-link" href="?page={{page_obj.number}}{{page_suffix}}"><u>{{page_obj.number}}</u></a>
        {% if page_obj.has_next %}
          <a class="nav-link" href="?page={{page_obj.next_page_number}}{{page_suffix}}">{{page_obj.next_page_number}}</a>
        {% endif %}
        <a class="nav-link" href="?page=last{{page_suffix}}">Конец</a>
      </nav>
    </div>
  {% endif %}
{% endblock %}
