{% extends 'layout/wrapper.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
  <a href="{% url 'social:begin' 'vk-oauth2' %}">Войти через Вконтакте</a>
  {% if user.is_authenticated %}
    <p>Вы уже выполнили вход.</p>
  {% else %}
    <form method="post">
      {% csrf_token %}
      {{form.as_p}}
      <input type="hidden" name="next" value="{{next}}">
      <button type="submit">Войти</button>
    </form>
    <a href="{% url 'user:password_reset' %}">Забыли пароль?</a>
  {% endif %}
{% endblock %}
