{% extends 'layout/wrapper.html' %}

{% load crispy_forms_tags %}

{% block title %}Вход{% endblock %}

{% block content %}

  {% if user.is_authenticated %}
    <p>Вы уже выполнили вход.</p>
  {% else %}
    <form method="post">
      {% csrf_token %}
      {{form|crispy}}
      <input type="hidden" name="next" value="{{next}}">
      <div>
        <button type="submit" class="btn btn-success d-inline-block">Войти</button>
        <a href="{% url 'user:password_reset' %}" class="btn btn-success">Забыли пароль?</a>
        <a href="{% url 'social:begin' 'vk-oauth2' %}" class="btn btn-primary">Войти через Вконтакте</a>
        <a href="{% url 'social:begin' 'google-oauth2' %}" class="btn btn-primary">Войти через Google</a>
	<a href="{% url 'social:begin' 'github-oauth' %}" class="btn btn-primary">Войти через Github</a>
      </div>
    </form>
  {% endif %}
{% endblock %}
