{% extends 'layout/wrapper.html' %}

{% block title %}Сброс пароля{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <p>Вы уже выполнили вход.</p>
  {% else %}
    {% if validlink %}
      <p>Пароль успешно сброшен</p>
      {% if form %}
        <form method="post">
          {% csrf_token %}
          {{form.as_p}}
          <input type="hidden" name="next" value="{{next}}">
          <button type="submit">Войти</button>
        </form>
      {% endif %}
    {% else %}
      <p>В ходе сброса пароля, произошел сбой.</p>
      <a href="{% url 'user:password_reset' %}">Сбросить пароль повторно</a>
    {% endif %}
  {% endif %}
{% endblock %}
