{% extends 'layout/wrapper.html' %}

{% block title %}{{user.username}}{% endblock %}

{% block content %}
  <p class="m-0">Имя пользователя: {{user.username|default_if_none:" - "|default:" - "}}</p>
  <p class="m-0">Имя: {{user.first_name|default_if_none:" - "|default:" - "}}</p>
  <p class="m-0">Фамилия: {{user.last_name|default_if_none:" - "|default:" - "}}</p>
  <p class="m-0">E-mail: {{user.email|default_if_none:" - "|default:" - "}}</p>
  <p class="m-0">Дата регистрации: {{user.date_joined|default_if_none:" - "|default:" - "}}</p>
  <p class="m-0">Дата последнего входа: {{user.last_login|default_if_none:" - "|default:" - "}}</p>
  <a href="{% url 'user:password_change' %}" class="btn btn-success my-2">Сменить пароль</a>
{% endblock %}
